
@media only screen and (max-width: 1024px) {
  .container.hero-page {
    display: flex;
    flex-direction: column;
    padding: auto;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: auto auto;
    // gap: 2rem;
    // justify-items: center;
    // align-items: center;
    height: 100vh;
    margin: 1.2rem;
  }

 

 



}